<center><h3>BLINDS AUTOMATION</h3></center>
<br/>
<br/>

<center>
 <button type="button" class="btn btn-success btn-lg">
		OPEN BLINDS
</button>
</center>

<br/>
<br/>

<center>
<button type="button" class="btn btn-success btn-lg">
	CLOSE BLINDS
</button>
</center>